@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

/*
==================================================
DESCTOP SIZE
================================================== */

.container {
    width: 100%;
    display: -webkit-flex;
    display: flex;
}
.sidebar {
    width: 10%;
    background-color: pink;
    color: chartreuse;
}
.main {
    width: 90%;
    background-color: aqua;
    color: brown;
}
