@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

/*===============以下メニュー部分===============*/

.menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 150px;
  height: 100%;
  background: lightgray;
}
.menu li {
  list-style: none;
}

/*===============以下メイン部分===============*/

main {
  display: block;
  margin-left: 150px;
}

