@charset "UTF-8";

* {
    margin: auto;
    padding: 0;
}

/*===============以下メニュー部分===============*/

.menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 150px;
  height: 100%;
  background: #E0FFFF;
  position: relative;
    background: #fff0cd;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
}
.menu:after{
  position: absolute;
  content: '';
  right: -7px;
  top: -7px;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: #ffdb88 #fff #ffdb88;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.menu_title {
  text-align: center;
}
.menu_list {
  list-style: none;
  text-align: center;
}
.menu_line {
  text-align: center;
}


/*===============以下メイン部分===============*/

main {
  display: block;
  margin-left: 150px;
}

