@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

/* ヘッダー */

.header_menu li {
    display: inline;
    position: absolute;
}

header {
    position: relative;
    height: 50vh;
    background: url(img/2793CF84-A90C-434A-9DA5-6F23DE9189E5.jpeg) center / cover;
}
