@charset "UTF-8";

/*
==================================================
DESCTOP SIZE
================================================== */

.container {
    width: 100%;
    display: -webkit-flex;
    display: flex;
}
.sidebar {
    width: 10%;
    background-color: pink;
}
.main {
    width: 70%;
    background-color: aqua;
}