@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.container {
}
.sidebar {
    box-sizing: border-box;
    height: 100%;
    width: 10%;
    position: fixed;
    overflow: auto;
    background-color: aqua;
    color: black;
}

.side_icon {
    text-align: center;
    text-decoration: none;
    color: white;
}

.main {
    width: 88%;
    background-color: white;
    color: black;
    margin-left: 13%;
}
