@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

main {
  display: block;
  margin-left: 150px;
}
.menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 150px;
  background: lightgray;
}
.menu li {
  list-style: none;
}
