@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

/* ヘッダー */

.header_menu li {
    display: inline;
}

header {
    background-image: url('img/2793CF84-A90C-434A-9DA5-6F23DE9189E5.jpeg');
    background-size: cover;
    height: 1080px;
    font-size: 50px;
}
