@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

/*メインメニュー*/
.main_menu {
    background-color: #add8e6;
    width: 10%;
    height: 100px;
}

/*メイン*/
.main {
    background-color: #f5f5f5;
    width: 90%;
    height: 100%;
}
