@charset "UTF-8";

* {
    margin: auto;
    padding: 0;
}

/*===============以下メニュー部分===============*/

.menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 150px;
  height: 100%;
  background: #E0FFFF;
}
.menu_title {
  text-align: center;
}
.menu_list {
  list-style: none;
  text-align: center;
}
.menu_bar_1 {
  border: none;
  height: 3px;
  background: skyblue;
  background-image: -webkit-linear-gradient(left, #caeaf7, blue, #caeaf7);
  background-image: -moz-linear-gradient(left, #caeaf7, blue, #caeaf7);
  background-image: -ms-linear-gradient(left, #caeaf7, blue, #caeaf7);
  background-image: -o-linear-gradient(left, #caeaf7, blue, #caeaf7);
}


/*===============以下メイン部分===============*/

main {
  display: block;
  margin-left: 150px;
}

