@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

/*
==================================================
DESCTOP SIZE
================================================== */

.container {
    width: 100%;
    display: -webkit-flex;
    display: flex;
}
.sidebar {
    width: 10%;
    background-color: aqua;
    color: black;
}
.sidebar_item {
    background-color: aqua;
    position: sticky;
}
.main {
    width: 88%;
    background-color: white;
    color: brown;
    margin-left: 2px;
}
