@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

/*
DESCTOP SIZE
================================================== */
@media (min-width: 600px) {
    /* Layout */
    .container {
        display: flex;
        justify-content: space-between;
    }
    
    /* Aside */
    aside {
        width: 10%;
        height: 90vh;
        background-color: antiquewhite;
    }
    
    /* Main */
    main {
        width: 90%;
        background-color: azure;
    }
}
